<header class="site-header">
    <div class="container">
        <div class="menu-icon" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
      <div class="logo">HaKu Testsuya</div>
      <form class="search-form">
        <input type="text" placeholder="Tìm kiếm..." />
        <button type="submit">🔍</button>
      </form>
      <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">Game</a>
        <a href="#">Contract</a>
        <a href="#">About</a>
      </nav>
    </div>
  </header>
  